body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body #root {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
body #root .container {
  width: 1100px;
}
body #root .container .before {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 60px;
}
body #root .container header {
  display: flex;
  justify-content: space-between;
}
body #root .container header input {
  width: 900px;
  height: 60px;
  border: 2px solid gray;
  border-radius: 7px;
  padding-left: 20px;
  margin: auto 0;
  font-size: 28px;
  text-transform: capitalize;
}
body #root .container header button {
  border: none;
  border-radius: 50px;
  background-color: #3f3f41;
  color: white;
  font-size: 25px;
  width: 130px;
  height: 70px;
}
body #root .container main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
body #root .container main .lds-facebook {
  margin: 100px auto;
}
body #root .container main .mweather {
  width: 400px;
  margin: 0 10px;
}
body #root .container main .mweather .clock {
  color: orangered;
}
body #root .container main .mweather .cityname {
  font-size: 40px;
  font-weight: bold;
}
body #root .container main .mweather .degrees {
  padding-top: 60px;
  padding-left: 7px;
  font-size: 55px;
  display: flex;
}
body #root .container main .mweather .degrees img {
  height: 73px;
  object-fit: cover;
}
body #root .container main .mweather .feelslike {
  font-size: 22px;
  font-weight: bold;
}
body #root .container main .mweather .about {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  border-left: 3px solid orangered;
  margin: 20px 0;
}
body #root .container main .mweather .about div {
  flex-basis: 178px;
  font-size: 19px;
  font-weight: 500;
  height: 30px;
}
body #root .container main .mweather .modal button {
  border: none;
  background-color: orangered;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}
body #root .container main .mweather .modal .modal-deactive {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.781);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
body #root .container main .mweather .modal .modal-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.781);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
body #root .container main .mweather .modal .modal-active .modal-container {
  background-color: white;
  width: 700px;
  height: 520px;
}
body #root .container main .mweather .modal .modal-active .modal-container .mheader {
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  padding: 13px 30px;
  border-bottom: 1px solid gray;
}
body #root .container main .mweather .modal .modal-active .modal-container .mheader button {
  width: 30px;
  height: 25px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
}
body #root .container main .mweather .modal .modal-active .modal-container .mfooter {
  padding: 10px 40px;
}
body #root .container main .mweather .modal .modal-active .modal-container .mfooter div {
  display: flex;
  margin: 0 5px;
  height: 55px;
  align-items: center;
  font-size: 23px;
}
body #root .container main .mweather .modal .modal-active .modal-container .mfooter div div {
  margin: 0 25px;
}
body #root .container main .mweather .modal .modal-active .modal-container .mfooter div .weather img {
  height: 35px;
  object-fit: cover;
}
body #root .container main .mweather .modal .modal-active .modal-container .mfooter div .dayinfo {
  font-size: 17px;
  color: gray;
}
body #root .container main .eightforces {
  width: 580px;
}
body #root .container main .eightforces .eightdayload {
  display: flex;
  justify-content: center;
}
body #root .container main .eightforces .eightday {
  font-size: 30px;
  font-weight: bold;
}
body #root .container main .eightforces .eightresult {
  margin-top: 15px;
}
body #root .container main .eightforces .eightresult div {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  height: 65px;
  align-items: center;
  font-size: 23px;
}
body #root .container main .eightforces .eightresult div .day {
  flex-basis: 140px;
}
body #root .container main .eightforces .eightresult div .weather {
  flex-basis: 175px;
}
body #root .container main .eightforces .eightresult div .weather img {
  height: 35px;
  object-fit: cover;
}
body #root .container main .eightforces .eightresult div .dayinfo {
  flex-basis: 150px;
  font-size: 17px;
  color: gray;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: black;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

/*# sourceMappingURL=index.css.map */
